*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(0, 132, 255, 0.863) ;
}

main{
    
    height: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.todo-title{
    width: 100%;
    height: 2em;
    background-color: white;
    color: rgba(0, 132, 255, 0.863);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*
.todo-title h3{
   
}
*/
.container1{
    width: 50%;
    height: 40px;
    min-height: 50px;
    background-color: white;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px 10px;
    gap:20px
    

}
.container2{
    /*background-color: bisque;*/
    width: 100%;
    height: 10vh;
    padding-left: 15px;padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
    
    
    
}
.container2 input{
    width: 66%;
    height: 30px;
    font-size: 1.5em;
}

.container2 p{
    width: 25%;
    height: 30px;
    background-color: rgb(125, 208, 219);
    border: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 0 darkgray;
    cursor: pointer;

}
.container2 p:active{
    box-shadow: 0px 0px 0px 0px;
}

div#task-list{
    background-color: white;
    height: auto;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    

}
div#task-list div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    
}

img#trashcan, img#checked{
    width: 25px;
    height: 20px;
    cursor: pointer;
    filter: invert(30%) sepia(12%) saturate(1731%) hue-rotate(175deg) brightness(94%) contrast(87%);
}


body{
    min-height: fit-content;
}

.par-task{
    /*background-color: brown;*/
    text-align: start;
    padding-left: 20px;
}
.btn-refresh, .btn-show-active, .btn-show-done{
    width: 100px;height: 40px;border-radius: 5px;cursor: pointer;
}

.container3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.btn-clear-all{
    cursor: pointer;
    font-weight: 900;
    width: 70px;
    height: 30px;
    background-color: red;
    
}